    /* start variables */
    :root {
        --main-color: #19c8fa;
        --hover-color: #04a8d6;
        --transparent-color: rgb(15 116 143 / 70%);
        --section-padding:100px;
    }
    /* end variables */
    /* start global rules */
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Open Sans", "sans-serif";
        max-width: 100%;
        max-height: 100%; 
    }

    ul {
        list-style: none;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /* small */
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    /* medium */
    @media (min-width: 992) {
    .container {
        width: 970px;
    }
}

    /* large */

    @media (min-width:1200) {
        .container {
            width: 1170px;
        }
    }

/* end global rules */

 /* start component */
 .main-heading{
    text-align: center;
 }
 .main-heading h2{
    font-weight: normal;
    /* margin-top: 25px; */
    margin-bottom: 50px;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;
 }
 .main-heading h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -10px;
    width: 120px;
}
  .main-heading h2::after{
    content: '';
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    left: 50% ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #333;
    bottom: -16px;
    background-color: white;
}

 .main-heading p {
    line-height: 1.6;
    color: #777;
    width: 450px;
    margin: 0 auto 100px;
    max-width: 100%;
 }
 /* end component */

    /* Start header */

    header {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 97px;
        /* padding-bottom: 10px; */
        /* border-bottom: 4px solid white; */  
    }

    header .container::after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #a2a2a2;
        bottom: 0;
        width:calc(100% - 30px);
        left: 15px;
        z-index: -1;
    }

    header .logo img {
        height: 25px;

    }

    header nav {
        flex: 1 ;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav .toggole-menu {
        color: white;
        font-size: 22px;
    }

    @media(min-width: 768px) {
        
    header nav .toggole-menu {
        display: none;
    }   
    }
    header nav .toggole-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: -2px !important;
    }
    header nav ul {
        display: flex;
    }

    @media (max-width: 767px) {
        header nav ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }
    }

    header nav ul li a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 14px;
        padding: 40px 15px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}

    header nav ul li a.active,
    header nav ul li a:hover {
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }

    header nav .form {
        width: 40px;
        height: 30px;
        position: relative;
        margin-left: 30px;
        border-left:1px solid white ;
    }

    header nav .form i {
        color: white;
        position: absolute;
        font-size: 15px;
        top: 50%;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        right: 0;
    }

/* End header */

/* start landing  */
    .landing {
        min-height: 100vh;
        background-image:url('../images/landing.jpg');
        background-color: #1f2021 ;
        background-size: cover;
        position: relative;
    }

    .landing  .overlay {
        position: absolute;
        left: 0;
        height: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 60%);
    }

    .landing .text {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: 50%;
        background-color: var(--transparent-color);
        color: white;
        display: flex;
        justify-content: center;
    }

    .landing .text .content {
        max-width: 400px;
        padding: 15px;
    }

    @media (max-width: 767px) {
        .landing .text {
            width: 100%;
        }
        .landing .text .content {
            max-width: 100%;
        }
    }

    .landing .text .content h2 {
        font-size:30px ;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .landing .text .content p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.8;
    }

    .landing .change-background {
        position: absolute;
        top: 93%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        color: white;
        font-size: 20px;
        font-style: 1px;
        }

        @media (max-width: 767px){
            .landing .change-background{
            display: none;
            } 
        }
        .landing .angle-left {
            left: 50px;
        }
        .landing .angle-right {
            right: 50px;
        }

        /*the three bullets */
        .landing .bullets {
        position: absolute;
        left: 48%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        bottom: 30px;
        display: flex;
        }
    .landing .bullets li {
        width: 12px;
        height: 12px;
        border: 1px solid white;
        border-radius:50% ;
        -webkit-border-radius:50% ;
        -moz-border-radius:50% ;
        -ms-border-radius:50% ;
        -o-border-radius:50% ;
        margin-right: 10px;
    }
    .landing .bullets li.active {
        background-color: var(--main-color);
        border: var(--main-color)
    }

/* end landing */

/* start services */
    .services {
        padding-bottom: var(--section-padding);
        padding-top: var(--section-padding);
    }

   
    .services .container .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 20px,30px;
       
    }

    .services  .serv-box {
        display: flex;
        margin-bottom: 30px;
        margin-left: 50px;
    }


    .services  .serv-box i {
        margin-right: 20px;
    }
    .services  .serv-box i {
        display: flex;
    }
    .services  .serv-box h3 {
        margin-right: 50px;
        margin-bottom: 10px;
        color: var(--main-color);
    }
    .services  .serv-box p    {
        line-height: 2 ;
        color: #777;
    }

    @media (max-width: 767px){
    .services  .serv-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
        margin-left: 30px;
    }
    .services  .serv-box i {
        margin-bottom: 20px;
    }
    .services  .serv-box p {
        text-align: center;
        margin-left: -35px;
    }
    }

/* end services */

/* start design section  */
.design {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
}


/* By this code the bg image will be less opacity */
.design::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    overflow: hidden;
}

/* this code make the image appear over the background */
.design .image,
    .design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    position: relative;
    bottom: -120px;
    margin-left: 80px;
}

@media(max-width: 767px){
    .design .image {
        display: none;
    }
    
   .design .text {
    font-size: 13px;
   }

   .design .text h2 {
    font-size: 15px;
    text-align: center;
    margin-bottom: -20px;
   }
}
.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

/* @media(max-width: 767px){
    .design .text {
        width: 100%;
    }
} */


.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.design .text ul li {
    padding: 10px 0;
}

/*  how to add an icon to your design throuph css */
.design .text ul li::before {
    /* how to add it */
    font-family: 'Font Awesome 5 Free';
    content: '\e163';
    font-weight: 900;

    /*  normal styles */
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design section  */

/* start portfolio section */
.portfolio {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
    transition: 0.2s;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .shuffle li:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    
}
.portfolio .imgs-container .box {
    /* flex-basis: 100%; */
    position: relative;
    overflow: hidden;
}

@media(min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}
@media(min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs-container .box img{
    max-width: 100%;
    transition: 0.3s ;
}
.portfolio .imgs-container .box .caption {
    position: absolute; 
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.5s;
    bottom: -100;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box .caption h4{
    font-weight: bold;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 25px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio .more:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
/* end portfolio section */

/* Start Video Section */
.video{
    position: relative;
    }
    
.video::before{
      content: "";
      position:absolute;
      left: 0;
      top: 0;
      width:100%;
      height: 100%;
      background-color: rgb(0 0 0 / 40%);
    }
    
 .video video {
    width: 100%;
    }
    
 .video .text {
    width: 100%;
    height: 50%;
    position: absolute;
    transform: translateY(-150%);
    max-height: 100%;
    padding: 50px;
    background-color: var(--transparent-color);
    text-align: center;
    }
.video .text h2{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.video .text p {
    margin-bottom: 20px;
    font-size: 20px;
}

.video  button {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-transform: uppercase;
    border: none;
}

.video  button:hover {
    cursor: pointer;
}
/* End Video Section */

/* start about section  */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
   position: relative;
   bottom: -120px;
   margin-top:-120px ;
   max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
      bottom: -40px;
      margin-top: -90px;
    } 
}

/* end about section  */

/* start stats section  */
  
.stats {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    background-image: url(../images/statistic.jpg);
    background-size: cover;
    max-width: 100%;
    text-align: center;
    position: relative;
}

.stats::before {
    content:  "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.stats .container {
  position: relative; /* this makes the container override the overly and the text appears */
  display: flex;
  flex-wrap: wrap;
}

.stats  .box {
    color: white;
    padding: 30px;
    background-color: var(--transparent-color);
}

@media(max-width: 767px) {
    .stats  .box {
        flex-basis: 100%;
    }
}
@media(min-width: 768px) {
    .stats  .box {
        flex-basis: 50%;
    }
}
@media(min-width: 992px) {
    .stats  .box {
        flex-basis: 25%;
    }
}
 
.stats  .box i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    background-color:#333;
    color: var(--main-color);
    align-items: center;
    justify-content: center;
    margin: 30px auto ;

}

.stats  .box .number {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stats  .box p {
    color: var(--main-color);
}
/* end stats section */

/* start skills section */
.our-skills{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);  
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
}

@media(min-width:992px) {
    .our-skills .container > div {
      flex: 45%;
    }
}

.our-skills .container > div > h3 {
   margin: 0 0 30px; 
   font-weight: normal;
   text-align: center;
   text-transform: uppercase;   
}
.our-skills .container > div > p {
   margin-bottom: 40px ;
   margin-left: 40px ;
   text-align: center;
   color: #777;
   line-height: 1.3;
}

.our-skills  .content {
   display: flex; 
   padding: 20px;
}
.our-skills .content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #aaa;
    margin-right: 15px;
}

@media(max-width:767px) {
    .our-skills  .content {
     flex-direction: column;
     text-align: center;
    }  
    .our-skills .content img {
     margin: 0 auto 20px;

    }
}
.our-skills  .content .text {
    line-height: 1.3;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.our-skills .content .pers-name {
    color:#a2a2a2;
    font-size: 13px;
    text-align: right;
    margin-top: 10px;
}

.our-skills .bullets {
   /* position: absolute;
   left: 20%;
   transform: translateY(50%); */
   display: flex;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 50px;
}
.our-skills .bullets li{
   width: 14px;
   height: 14px;
   border: 1px solid #aaa;
   border-radius: 50%;
   margin-right: 10px;
}
.our-skills .bullets li.active {
  background-color: var(--main-color) !important;
  border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
  margin-top: 40px;
  margin-left: 70px;
}
.our-skills .skills .prog-holder h4 {
   margin-bottom: 10px;
   font-weight: normal;
   text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
     background-color: #dedadc;
     height: 25px;
}
.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color );
  height: 100%;
  position: relative;
}
 .prog-holder .prog span::before {
  content:  attr(data-progress);
  position: absolute;
  background-color: #333;
  color: white;
  top: -35px;
  right: -18px;
  padding: 4px 0;
  text-align: center;
  border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
   content:  "";
   position: absolute;
   border-style: solid;
   border-width: 8px;
   border-color: #333 transparent transparent transparent;
   right: -10px;
   top: -14px;
}

/* end skills section */

/* Start quote section */
 .quote {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding); 
    background-image:url(../images/semsem.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
 }

 .quote::before {
    content:  "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 65%);
 }
 .quote .container {
    position: relative;
    margin: auto auto;
   
 }

 .quote q {
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
 }
 
 /* End quote section */
 .quote q::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f10d';
    font-weight: 600;
    margin-right: 5px;
 }
 .quote q::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f10e';
    font-weight: 600;
    margin-left: 5px;
 }

 /* start pricing section */
   .pricing {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
   }

  .pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 30px;
  }

  .pricing .plans .plan {
    background-color: #FCFCFC;
    text-align: center;
  }
  .pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);

  }
  .pricing .plans .plan .head h3 {
   font-weight: normal; 
   margin-bottom: 30px;
  }
  .pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
    /* position: relative; */
  }
  .pricing .plans .plan .head span::before {
    content: "$";
    position: absolute;
    font-size: 25px;
    left: -15px;
    font-weight: normal;
  }
  .pricing .plans .plan .head span::after {
    content: "/MO";
    font-size: 20px;
    position: relative;
    right: -15px;
    /* font-weight: normal; */
  }

  .pricing .plans .plan ul {
    padding: 30px;
    border-bottom: 1px solid var(--main-color);
  }
  .pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
  }

  .pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  .pricing .plans .plan .foot a {
  display: block;
  color: black;
  border: 1px solid var(--main-color);
  text-decoration: none;
  padding: 15px 20px;
  width: fit-content;
  margin: 30px auto;
  transition: 0.3s;
  }

  .pricing .plans .plan .foot a:hover {
    background-color: var(--main-color);
    color: white;
  }

  .pricing .contact-text {
    margin: 30px 0 20px;
    font-size: 20px;
    text-align: center;
  }

  .pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    transition: 0.3s;
  }

  .pricing .contact-link:hover {
    background-color: var(--hover-color);
  }

 /* end pricing section */

 /* start subscribe section */
.subscribe {
   padding-bottom: var(--section-padding);
   padding-top: var(--section-padding); 
   background-image: url(../images/contactjpg.jpg);
   background-size: cover;
   position: relative;
   color: white;
  }

.subscribe::before {
    content:  "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
  }


.subscribe .container {
    flex-direction: column;
  }

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
  }

.subscribe form i {
    position: absolute;
    top: 50;
    transform: translateY(130%);
    left: 25px;
  }

.subscribe form input[type="email"] {
    border: 1px solid white;
    background: none;
    padding: 20px 30px 30px 50px;
    caret-color: var(--main-color);
    color: white;
    width: calc(100% - 130px);
    border-right: none;
  }
  .subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding:25px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
  }

  .subscribe form input[type="email"]:focus ,
  .subscribe form input[type="submit"]:focus {
    outline: none;
  }
  .subscribe form ::placeholder {
    color: white;
  }

  .subscribe form input[type="submit"]:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  } 

  .subscribe p {
    padding-top: 30px;
  }

 /* end subscribe section */

 /* start contact section */
 .contact {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
 }

 .contact .content {
    display: flex;
    justify-content: space-between;
 }

 @media(max-width: 768px) {
    .contact .content {
        flex-direction: column;
    }
 }

 .contact .content form {
    flex-basis: 70%;
 }
 .contact .content form .main-input{
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
 }

 .contact .content form .main-input:focus {
  outline: none;
 }

 .contact .content form textarea.main-input{
    height: 200px;
 }

 .contact .content form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
 }

 .contact .content form input[type="submit"]:hover {
    background-color: var(--hover-color);  
 }
 
 .contact .content .info {
    flex-basis: 25%;
 }

 @media(max-width: 768px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
 }
 .contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
 }

 .contact .content .info .phone {
 display: block;
 color: #777;
 margin-bottom: 10px;
 }

 .contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
 }

 @media(max-width: 768px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
 }

 
 .contact .content .info address {
  color: #777;
  line-height: 2;
 }

 @media(max-width: 768px) {
    .contact .content .info address {
        margin-bottom: 30px;
    }
 }

 /* end contact section */

  /* start footer section  */
  .footer {
    padding-bottom:calc( var(--section-padding)/ 2);
    padding-top:calc( var(--section-padding)/ 2);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    color: white;
    position: relative;
    text-align: center;
  }

  .footer::before {
    content:  "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
  }

  .footer .container {
    position: relative;
  }

  .footer .container img {
    margin-bottom: 10px;
  }
  .footer .container p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 25px;
  width: fit-content;
  margin: 20px auto;
  }

  .footer .social-icons i {
     padding: 10px 15px;
     font-size: 22px;
     cursor: pointer;
     transition: 0.3s;
  }
  .footer .social-icons i:hover {
    color: var(--main-color);
  }

  .footer .copyright {
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .footer .copyright span {
   font-weight: bold;
   color: var(--main-color);
  }


  /* end footer section  */